.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
  cursor: grab;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}
.countries-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}
.countryCard{
  flex: 1 0 20%;
  min-width: 160px;
  background: rgba(233, 233, 233, 0.542);
  border-radius: 2rem;
  width: 18rem;
  padding: 1rem;
}
img{
  width: 160px;
  height: 100px;
  object-fit: cover;
}

h3{
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
#capitalCity{
  margin: 0;
}
